.input-wrapper {
  .label {
    display: block;
    padding: 10px 15px;
  }
  .input {
    width: 80%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #2489ff;
    margin-left: 3%;
    &:focus {
      outline: none !important;
      box-shadow: 0 0 10px #719ece;
    }
  }
}
