.home-page {
  .container {
    // width: 80%;
    .slider-container {
      // margin-left: 10%;
      .slider {
        padding: 20px;
        // height: 200px !important;
        img {
          width: 100%;
          height: 500px;
          object-fit: contain;
        }
      }
    }
  }
}
